.plansDiv:hover {
	background-color: rgb(190, 190, 190);
	outline: 1px solid black;
}

.plansPageDiv:hover {
	transform: scale(1.02);
}

.days:hover {
	background-color: rgb(190, 190, 190);
}

.search-result {
	max-height: 300px;
	min-height: 300px;
	overflow: scroll;
}

.plan-exercise {
	max-height: 200px;
	min-height: 200px;
	overflow: scroll;
}

.save:hover {
	background-color: rgb(190, 190, 190);
}
