@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;500;700&display=swap');
body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.selected {
	background-color: rgb(190, 190, 190);
	width: 90%;
	margin: 0 auto;
}

.add {
	background-color: green;
}

.add:hover {
	background-color: rgb(62, 208, 0);
	transform: scale(1.02);
	z-index: 1;
}

.close {
	background-color: rgb(245, 56, 56);
}
.close:hover {
	background-color: rgb(255, 0, 0);
	z-index: 1;
}
*:active {
	z-index: 1;
}
